
.video-player {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    max-height: 80vw; 
}

.video-player video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: contain; 
    max-height: 80vh; 
}

video::-webkit-media-controls {
    display: none;
}

.controls {
    margin-top: 20px;
}

#seek-back, #play-pause, #seek-forward, #stop {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#seek-back:hover, #play-pause:hover, #seek-forward:hover, #stop:hover {
    background-color: #3e8e41;
}

#volume-label {
    font-size: 16px;
    margin-left: 10px;
}

#volume {
    width: 100px;
    height: 10px;
    margin: 10px 0;
}

#playback-speed {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    
}

#file-input {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    background-color: #111;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#fullscreen {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4c4eaf;
    color: #fff;
    cursor: pointer;
}