
.video-player {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    max-height: 80vw; 
}

.video-player video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: contain; 
    max-height: 80vh; 
}

video::-webkit-media-controls {
    display: none;
}


#seek-back, #play-pause, #seek-forward, #stop {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}

#seek-back:hover, #play-pause:hover, #seek-forward:hover, #stop:hover {
    background-color: #3e8e41;
    padding: 5px;
}

#volume {
    width: 100px;
    height: 40px; 
    padding: 5px;
    vertical-align: middle; 
}

#playback-speed {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

#file-input {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    background-image: url(backdrop.png);
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#fullscreen {
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4c4eaf;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

.controls {
    background-color: rgba(25, 88, 0, 0.9);
    padding: 10px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 20px;
}
